/*--- Basics ---------------------------------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 18px;
    line-height: 1.6;

    color: rgb(93, 96, 99);
    background-color: rgb(230, 230, 235);
}

header, nav, aside, main, footer,
article, section, figure, figcaption {
    display: block;
}

a:link {
    color: green;
}
a:hover {
    color: darkblue;
    background-color: transparent;
    text-decoration: underline;
}
.checked {
    color: orange;
}

.car-item{
    margin-top: 50px;
    margin-bottom: 50px;
}